h1 {
	text-align: center;
}
footer{
	float :right;

}

div._table{
	background: #99cfff;	
	border-radius: 15px;
}

div.do {
	height: 80%; width : 30%;
	float: left;
	box-sizing: border-box;
	background: #0ff;
	overflow: auto;
	width: 30%;
}

div.doing {
	height: 80%;
	width: 30%;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
	box-sizing: border-box;
	background: #0ff;
	overflow: auto;
}

div.end {
	height: 80%;
	width: 30%;
	float: left;
	box-sizing: border-box;
	background: #0ff;
	overflow: auto;
}

div.board {
	padding-left: 5%;
	padding-right: 5%;
}

div.new_box {
	display: inline-block;
	margin-bottom: 10%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 15%;
	border: 1px solid #000
}

div.left {
	float: left;
	height: 100%; width : 65%;
	box-sizing: border-box;
	width: 65%;
}

div.right {
	float: right;
	width: 35%;
	box-sizing: border-box;
}

input.desc_in {
	height: 60%;
	width: 100%;
	box-sizing: border-box;
}

input.time_in {
	height: 40%;
	width: 100%;
	box-sizing: border-box;
}

input.new_submit {
	height: 50%;
	box-sizing: border-box;
	width: 100%;
}

input.clear {
	height: 50%;
	box-sizing: border-box;
	width: 100%
}

div.desc {
	height: 60%;
	vertical-align: middle;
	text-align: center;
	background-color: #99ccff;
	border: 1px solid white;
	box-sizing: border-box;
}

div.time {
	height: 40%;
	vertical-align: middle;
	text-align: center;
	background-color: #99ccff;
	border: 1px solid white;
	box-sizing: border-box;
}

input.submit {
	height: 50%;
	box-sizing: border-box;
	width: 100%;
}

input.cancel {
	height: 50%;
	box-sizing: border-box;
	width: 100%
}